.final-title {
  color: $primary;
  font-size: xx-large;
  font-weight: 600;
}

.final-subtitle {
  font-size: xx-large;
}

.final-mensaje {
  color: $grey;
  font-size: medium;
}

.final-correo {
  color: $grey;
  font-size: medium;
  font-weight: bold;
}
