.final-title {
  color: #ef3340;
  font-size: xx-large;
  font-weight: 600;
}

.final-subtitle {
  font-size: xx-large;
}

.final-mensaje {
  color: #676f8f;
  font-size: medium;
}

.final-correo {
  color: #676f8f;
  font-size: medium;
  font-weight: bold;
}

.submit {
  font-size: medium;
  background: #ef3340;
  border-radius: 8px;
  color: white;
  padding: 1rem 3rem 2.2rem 3rem;
  margin-top: 10%;
  margin-bottom: 10%;
}

.submit:hover {
  background-color: #c6101c;
  color: white;
}
