.img-responsive {
  align-content: stretch;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
}

.header {
  padding-top: 1rem;
  padding-right: 3rem;
}

.title {
  font-size: xx-large;
  padding-top: 12%;
}

.body {
  padding-top: 3%;
}

.terminos {
  font-size: small;
}
.terminos a {
  color: black;
  font-weight: bold;
  text-decoration-line: underline;
}

.submit {
  font-size: small;
  background: #ef3340;
  border-radius: 8px;
  color: white;
  padding: 1rem 3rem 2.2rem 3rem;
}

.submit:hover {
  background-color: #c6101c;
  color: white;
}
